@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*@import url('768.css') (min-width: 768px);*/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    display: grid;
    flex-direction: row;
    background: black;
    color: white;

    grid-template-areas:
            "logo title ";
    grid-template-columns: 1fr 5fr;
    border-radius: 0 0 .5rem .5rem;
    margin-bottom: 0.5rem;
}

h1.header-title {
    grid-area: title;
}

span.logo {
    font-size: 5rem;
    /*border: white 1px solid;*/
    /*border-radius: 50%;*/
    margin: auto 0rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: logo;
}

span.logo a,
span.logo a:link,
span.logo a:visited,
span.logo a:hover,
span.logo a:focus,
span.logo a:active {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

span.logo a:hover {
    color: #e1e1e1;
}

span.logo a:active {
    color: #a9a9a9;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    font-size: 2rem;
    background: #333;
}

nav > span:first-child {
    margin-left: 2rem;
}
nav span{
    border-right: #e1e1e1 solid 2px;
    border-left: #e1e1e1 solid 2px;
    padding: 1rem 1rem;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:focus,
nav a:active {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    color: black;
    font-size: 1.6rem;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    background: black;
    color: white;
    padding: 2rem 0;
    margin: .5rem 0 2rem;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

span.title {
    display: block;
}

.title-ru {
    font-size: 60%;
}

.black-widow-title {
    font-style: italic;
    font-weight: 900;
}

article {
    max-width: 95vw;
    margin: 1rem auto;
}

p {
    line-height: 2.8rem;
    letter-spacing: .1rem;
    /*margin: 0 auto 2rem;*/
    max-width: 70ex;
    padding: 1rem;
    text-align: justify;
}

figure {
    max-width: 90vw;
    display: block;
    margin: 0 auto;
}

figcaption {
    font-size: 1rem;
    padding: .5rem;
    line-height: 1.2rem;
}

img {
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 2rem;
    border: 1px transparent solid;
}

span {
    /*display: block;*/
}


ul {
    list-style-type: disc;
    margin-left: 3rem;
    line-height: 2.8rem;
    letter-spacing: .1rem;
    max-width: 70ex;
    text-align: justify;
}

strong {
    font-weight: 900;
}

footer {
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: .5rem .5rem 0 0;
    padding: 2rem;
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        /*grid-template-columns: 1fr 1fr 1fr;*/
    }

    article {
        display: flex;
        flex-direction: row;
        align-content: space-evenly;
        margin: 0 auto;
        gap: 3rem;
    }

    img {
        max-height: 90vh;
        max-width: 50vw;
    }

    figcaption {
        max-width: 50vw;
    }
}